<mat-toolbar color="primary" class="mb">
    <mat-toolbar-row class="padding-3">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateCalories()">
                <mat-icon>edit</mat-icon>
                <span>edit target calorie</span>
            </button>
        </mat-menu>
        <span class="spacer"></span>
        <mat-icon class="padding-r-5">set_meal</mat-icon>
        <span>Calorie Journal</span>

        <span class="spacer"></span>
        <button mat-icon-button type="button" (click)="logout()">
            <div class="icon">
                <mat-icon>logout</mat-icon>
            </div>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<div class='calendar'>
    <full-calendar [options]='calendarOptions' #calendar>
    <ng-template #eventContent let-arg>
        <!-- custom properties are held in extendedProps -->
    
           <!-- <p> {{arg.event.startStr | date:'shortTime' }} </p> -->
           <b> {{ arg.event.extendedProps.calories | number: '1.0-0'}} </b>
           
    </ng-template>
    </full-calendar>
</div>
  

