<div class="container">

    <mat-toolbar color="primary" class="header">
        <mat-toolbar-row class="padding-3" >
            <button mat-icon-button type="button" (click)="back()">
                <div class="icon">
                    <mat-icon>arrow_back</mat-icon>
                </div>
            </button>
            <mat-icon class="padding-r-5">set_meal</mat-icon>
            <span>Calorie Journal</span>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <div class="content justify-center">
        <form [formGroup]="form" (ngSubmit)="register()">
        
            <div>
                <mat-form-field appearance="fill" [style.width.px]="248">
                    <mat-label>Enter your name</mat-label>
                    <input matInput placeholder="John Doe" formControlName="name" required>
                    <mat-error *ngIf="form.get('name')?.invalid">please enter your name</mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill" [style.width.px]="248">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
    
            <div>
                <h3>
                    What is your daily calorie target?
                </h3>
                <mat-form-field appearance="fill"  [style.width.px]="248">
                    <mat-label>Target Calorie</mat-label>
                    <input matInput placeholder="2000" formControlName="target" required>
                    <span matTextSuffix>kcal</span>
                    <mat-error *ngIf="form.get('target')?.invalid">please enter your calorie target</mat-error>
                </mat-form-field>
            </div>
    
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !isNumber()">
                <mat-icon>app_registration</mat-icon>
                Register
            </button>
        </form>
    </div>

</div>
