<div class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="padding-3">
            <button mat-icon-button type="button" (click)="back()">
                <div class="icon">
                    <mat-icon>arrow_back</mat-icon>
                </div>
            </button>
            <span>Calorie Journal</span>
            <span class="spacer"></span>
            <span>{{ day | date :'mediumDate'}}</span>
            <span class="spacer"></span>
            <button mat-icon-button type="button" (click)="logout()">
                <div class="icon">
                    <mat-icon>logout</mat-icon>
                </div>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="content">
        
        <form [formGroup]="form" (ngSubmit)="process()">


            <ngx-mat-timepicker-field [format]="12" [defaultTime]="'11:11 PM'" formControlName="time"></ngx-mat-timepicker-field>

            <mat-form-field appearance="fill">
                <mat-label>Meal Category</mat-label>
                <mat-select formControlName="meal">
                    <mat-option value="breakfast">Breakfast</mat-option>
                    <mat-option value="lunch">Lunch</mat-option>
                    <mat-option value="dinner">Dinner</mat-option>
                    <mat-option value="supper">Supper</mat-option>
                    <mat-option value="snack">Snack</mat-option>
                    <mat-option value="others">Others</mat-option>
                </mat-select>
            </mat-form-field>


            <app-image-upload></app-image-upload>
    
            <!-- component to handle search -->
            <app-search></app-search>

            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="submitDisabled() || form.invalid">Submit</button>
            </div>


        </form>
    </div>
    
</div>

